<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>liste site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!--  <style href="src/main/resources/stylesheet/application.css" type="text/css"></style>-->
</head>
<body>
<header>
    <div th:include="navbar"></div>
</header>
<br>
<br>
<br>
<br>
<div class="container" th:action="@{/livre}" th:object="${livre}">
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Liste des livres</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th width="40%">titre</th>
                    <th width="30%">auteur </th>
                    <th width="30%">nombre disponible </th>
                    <th width="30%">reservation disponible</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="livre : ${livres}">

                    <div class="row">

                        <div th:each="livre : ${livres}" class="col-md-4 my-1">
                                <p th:text= "${livre.titre}"></p>
                                <p th:text= "${livre.auteur}"></p>
                                <p th:text= "${livre.nombre_disponible}"></p>
                                <p th:text= "${livre.reservation_disponible}"></p>
                        </div>
        </div>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>
